@import '../common';
/**
* Color
*/
$signInColor: rgb(21, 98, 142);
$signUpColor: rgb(160, 22, 22);
$tagTextColor: black;

/**
* Size
*/
$titleFontSize: 1.8rem;
$signFontSize: 0.4rem;

/**
* AdjustpPosition
*/
$titleToLeft: 0.25rem;
$titleToTop: 2.2vh;
$tagSubmitToTop: 4.8vh;

/**
* Module
*/
@mixin adjustPositionToLeft($n: 0rem) {
    position: relative;
    right: $n;
}

@mixin adjustPositionToTop($n: 0rem) {
    position: relative;
    bottom: $n;
}

%tagArea {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

%tagInput {
    width: 100%;
    height: 2em;
    margin: 10px 10px;
    border: none;
    border-radius: 10px;
    &:focus {
        outline: none;
    }
}

%unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.sign_up_bk {
    background-color: $signUpColor;
    &:hover {
        background-color: lighten($signUpColor, 5%);
    }
}

.sign_in_bk {
    background-color: $signInColor;
    &:hover {
        background-color: lighten($signInColor, 5%);
    }
}

.sign_up_txt {
    color: $signUpColor;
    &:hover {
        color: lighten($signUpColor, 5%);
    }
}

.sign_in_txt {
    color: $signInColor;
    &:hover {
        color: lighten($signInColor, 5%);
    }
}

input[name="bucket"] {
    display: none;
}
