/**
* login css
*/

@import '../common';

/* size
-------------------------------------------------------*/

$titleFontSize : 2.1rem;
$signFontSize  : 0.9rem;

/* color
-------------------------------------------------------*/

$signInColor   : rgb(21, 98, 142);
$signUpColor   : rgb(160, 22, 22);
$signInfoColor : rgb(63, 63, 63);
$inputTxtColor : rgb(0, 0, 0);

/* position
-------------------------------------------------------*/

$titleToLeft    : 0.25rem;
$titleToTop     : 2.2vh;
$tagSubmitToTop : 4.8vh;

/* font
-------------------------------------------------------*/

$signSwitchFont: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;

/* module
-------------------------------------------------------*/

@mixin toLeft($n: 0rem) {
    position: relative;
    right: $n;
}

@mixin toTop($n: 0rem) {
    position: relative;
    bottom: $n;
}

%tagArea {
    height: 40%;
    @include flex();
}

%tagInput {
    width: 100%;
    height: 2em;
    margin: 10px 10px;
    border: none;
    border-radius: 10px;
    &:focus {
        outline: none;
    }
}

%unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.sign_in_txt, .sign_up_txt {
    font-family: $signSwitchFont;
}

.sign_up_bk {
    @include hoverLingten('background-color', $signUpColor);
}

.sign_in_bk {
    @include hoverLingten('background-color', $signInColor);
}

#switcher.sign_up_txt {
    @include hoverLingten('color', $signUpColor);
}

#switcher.sign_in_txt {
    @include hoverLingten('color', $signInColor);
}

input[name="bucket"] {
    display: none;
}
