@import 'login.base';

body {
    @include flex();
    height: 90vh;
    #wrapper {
        width: 50vw;
        height: 50vh;
        #title {
            @include adjustPositionTitle($titleToLeft);
            @include flex(center, flex-end);
            height: 30%;
            width: 100%;
        }
        form {
            @include flex();
            flex-direction: column;
            height: 70%;
            width: 100%;
            #text {
                @extend %tagArea;
                flex-direction: column;
                width: 50%;
                input {
                    @extend %tagInput;
                    color: $tagTextColor;
                }
            }
            #submit {
                @extend %tagArea;
                width: 40%;
                input {
                    @extend %tagInput;
                    @include adjustPositionTagSubmit($tagSubmitToTop);
                    background-color: $buttonColor;
                    color: $baseFontColor;
                    cursor: pointer;
                    width: 100%;
                    &:hover {
                        background-color: $buttonColorHover;
                    }
                }
            }
        }
    }
}
