/**
* login css
*/

@import 'login.base';

#title {
    font-size: $titleFontSize;
}
#menu {
    @include flex(flex-end, center);
    @extend %tagArea;
    width: 100vw;
    height: 4vh;
    background-color: white;
    #menu_wrapper {
        @include flex();
        @include toLeft(5vw);
        flex-direction: horizontal;
        span {
            color: $signInfoColor;
            margin: 0 1rem;
            font-family: $signSwitchFont;
            font-size: $signFontSize;
        }
        #switcher {
            @extend %unselectable;
            font-size: $signFontSize;
            font-family: $signSwitchFont;
            cursor: pointer;
        }
    }
}

#container {
    @include flex();
    height: 90vh;
    clear: both;
    #wrapper {
        width: 50vw;
        height: 50vh;
        #title {
            @include toLeft($titleToLeft);
            @include toTop($titleToTop);
            @include flex(center, flex-end);
            height: 30%;
            width: 100%;
        }
        #form {
            @include flex();
            flex-direction: column;
            height: 70%;
            width: 100%;
            #text {
                @extend %tagArea;
                flex-direction: column;
                width: 50%;
                height: 50%;
                input {
                    @extend %tagInput;
                    color: $inputTxtColor;
                    padding-left: 1em;
                }
            }
            #submit {
                @extend %tagArea;
                width: 40%;
                height: 50%;
                input {
                    @extend %tagInput;
                    @include toTop($tagSubmitToTop);
                    color: $baseFontColor;
                    cursor: pointer;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
