@import '../common';

/**
* Size
*/
$headerHeight: 15vh;
$oneColumnWidth: 13vw;
$rowHeight: 5vh;
$codeLineHeight: 3vh;
$menuIcon: 2.5vw;
$txtboxOpenIcon: 2.5vw;
$txtboxCloseIcon: 2.5vw;

/**
* Color
*/
$columnsBorderColor: rgb(81, 81, 81);
$uploadColor: rgb(137, 189, 255) !important;
$removeColor: rgb(255, 203, 137) !important;
$removeAreaMouseOverColor: #442c34;
$removeAreaBorderColor: gray;
$uploadAreaMouseOverColor: #1a1a4d;
$errorColor: rgb(255, 180, 180);

/**
* Border
*/
$columnsRightBorder: 1px solid $columnsBorderColor;
$removeAreaBorder: 2px dashed $removeAreaBorderColor;

.upload {
    .row_item {
        color: $uploadColor;
    }
}

.remove {
    .row_item {
        color: $removeColor;
    }
}

.uploadMouseOver {
    background-color: $uploadAreaMouseOverColor;
    opacity: 0.7;
}

.removeMouseOver {
    background-color: $removeAreaMouseOverColor;
}

.opacity {
    opacity: 0.7;
    cursor: default;
}

.error {
    background-color: $errorColor;
    outline: none;
}

%firstRowStyle {
    .open {
        max-width: $txtboxOpenIcon;
    }
    .close {
        max-width: $txtboxCloseIcon;
        display: none;
    }
    .textbox {
        width: 11vw;
        height: 40%;
    }
}
