/**
* main css
*/

@import '../common';

/* Size
-------------------------------------------------------*/

$headerHeight    : 15vh;
$oneColumnWidth  : 11vw;
$rowHeight       : 4.5vh;
$codeLineHeight  : 2.6vh;
$menuIconWidth   : 2.2vw;
$mkdirOpenWidth  : 2vw;
$mkdirCloseWidth : 2vw;
$titleFontWidth   : 2.2vw;

/* Color
-------------------------------------------------------*/

$columnsBorderColor       : rgb(81, 81, 81);
$uploadColor              : rgb(137, 189, 255) !important;
$removeColor              : rgb(255, 203, 137) !important;
$removeAreaMouseOverColor : rgb(68, 44, 52);
$removeAreaBorderColor    : gray;
$uploadAreaMouseOverColor : rgb(26, 26, 77);
$errorColor               : rgb(255, 180, 180);

/* Border
-------------------------------------------------------*/

$columnsRightBorder : 1px solid $columnsBorderColor;
$removeAreaBorder   : 2px dashed $removeAreaBorderColor;


.upload > .row_item {
    color: $uploadColor;
}

.remove > .row_item {
    color: $removeColor;
}

.uploadMouseOver {
    background-color: $uploadAreaMouseOverColor;
    opacity: 0.7;
}

.removeMouseOver {
    background-color: $removeAreaMouseOverColor;
}

.disable {
    opacity: 0.7;
    cursor: default;
}

.error {
    background-color: $errorColor;
    outline: none;
}
