@import 'main.base';

.wrapper {
    max-width: 100vw;
    .header {
        height: $headerHeight;
            @include flex(flex-end, center);
        #title {
            width: 30%;
            padding-bottom: 0.5rem;
            @include flex(center, start);
        }
        .menu {
            width: 70%;
            @include flex(space-evenly, center);
            .menu_item {
                max-width: $menuIcon;
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .container {
        @include flex(center, unset);
        .column {
            display: flex;
            /* 幅可変拡張 */
            flex-basis:  auto;
            .level {
                float: left;
                width: $oneColumnWidth;
                max-width: $oneColumnWidth;
                padding-left: 1rem;
                .row {
                    height: $rowHeight;
                    display: flex;
                    align-items: center;
                    border-right: $columnsRightBorder;
                    cursor: pointer;
                    .open {
                        max-width: $txtboxOpenIcon;
                    }
                    .close {
                        max-width: $txtboxCloseIcon;
                        display: none;
                    }
                    .textbox {
                        width: 11vw;
                        height: 40%;
                    }
                    .row_item {
                        word-break: break-all;
                    }
                }
                .createNewDirRow {
                    display: none;
                }
            }
        }
        .src {
            display: flex;
            /* デフォルトが画面幅一杯、columnの幅が拡張する毎に幅可変縮小*/
            flex-basis: 100vw;
            overflow: scroll;
            #toggles {
                width: 100%;
                #upload_area {
                    @include flex();
                    img {
                        max-width: 50%
                    }
                }
                #preview {
                    padding: 1rem;
                    box-sizing: border-box;
                    code {
                        background-color: inherit;
                        line-height: $codeLineHeight;
                    }
                }
            }
        }
    }
}
