/**
* common css
*/

@mixin flex($horizontalSet: center, $verticalSet: center) {
    display: flex;
    justify-content: $horizontalSet;
    align-items: $verticalSet;
}

@mixin hoverLingten($property, $coloring) {
    #{$property}: $coloring;
    &:hover {
        #{$property}: lighten($coloring, 5%);
    }
}
