/**
* common css
*
* font
-------------------------------------------------------*/

$baseFontFamily : 'ricty';
$titleFontFamily: 'Phosphate-Solid','monospace, Tahoma, Sans-Serif';
$baseFontSize   : 1.15vw !important;

/* color
-------------------------------------------------------*/

$baseFontColor  : rgb(231, 246, 254);
$titleFontColor : wheat;
$backgroundColor: rgb(50, 50, 50);
