/**
* Font
*/
$baseFontFamily: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
$titleFontFamily: 'Phosphate-Solid','monospace, Tahoma, Sans-Serif';
$baseFontSize: 15px;

/**
* Color
*/
$baseFontColor: rgb(231, 246, 254);
$titleFontColor: wheat;
$backgroundColor: rgb(50, 50, 50);
