/*wrapper container内のグリッドレイアウト*/
.container {
  grid-area: container;
  display: grid;
  grid-gap: 15px;
  grid-template:
  "column src"
  /auto    1fr;
}

.column {
    margin-top: 1em;
    grid-area: column;
    background-color: rgb(50, 50, 50);
}

.level {
    float: left;
    width: 10em;
    padding: 0.5em;
}

.row {
    display: flex;
    align-items: center;
    height: 2.3rem;
    cursor: default;
    border-right: 1px solid rgb(81, 81, 81);
}

.row_item {
    word-wrap: break-word;
}

.plus_icon {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    right: 0.4em;
    cursor: pointer;
}

.createNewDirRow {
    display: none;
}

.close {
    display: none;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.gen_dir {
    cursor: pointer;
}

.src {
  grid-area: src;
  background-color: rgb(50, 50, 50);
  padding: 1em;
}

pre {
    width: 67em;
    overflow: scroll;
}

code {
    line-height: 1.2rem;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    background-color: rgb(50, 50, 50) !important;
}

#upload_area {
    text-align: center;
}

#upload_area img {
    width: 50%;
    opacity: 0.6;
}

#destroy_area {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    opacity: 0.5;
}

#destroy_drop_area {
    display: inline-block;
    padding: 100px;
    border: 2px dashed;
    border-radius: 5px;
    color: hsl(200, 80%, 95%);
    letter-spacing: 0.1rem;
}

#destroy_drop_area img {
    max-height: 100px;
}

#template {
    display: none;
}
