/**
* common css
*/

@mixin flex($horizontalSet: center, $verticalSet: center) {
  display: flex;
  justify-content: $horizontalSet;
  align-items: $verticalSet;
}

@mixin hoverLingten($property, $coloring) {
  #{$property}: $coloring;
  &:hover {
    #{$property}: lighten($coloring, 5%);
  }
}

@mixin modalContent($height, $width) {
  height: $height;
  width: $width;
  background-color: white;
  border-radius: 4px;
  border: none;
  outline: none;
}

%title {
  font-family: $titleFontFamily;
  color: $titleFontColor;
}
