/**
* common css
*
* font
-------------------------------------------------------*/

$baseFontFamily: "ricty";
$titleFontFamily: "Phosphate-Solid", "monospace, Tahoma, Sans-Serif";
$baseFontSize: 1.15vw !important;

/* color
-------------------------------------------------------*/

$baseFontColor: rgb(231, 246, 254);
$titleFontColor: wheat;
$colorBlack: #333333;
$backgroundColor: rgb(50, 50, 50);

/* modal
-------------------------------------------------------*/

$mkdirThemeColor: #455c8c;
$verifyThemeColor: rgb(142, 21, 21);
$verifyThemeSubColor: #8e6914;
$removeThemeColor: #b33e00;
