RewriteEngine ON
RewriteBase /
RewriteRule ^$ /app/content/main/ [L]

<Files ~ "^\.htaccess$">
deny from all
</Files>

<FilesMatch "^(tokenList\.txt|userDataList\.txt)">
deny from all
</FilesMatch>

Options -Indexes
