RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ /web/controller.php [L]
RewriteRule ^$ /web/controller.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L]

<Files ~ "^\.htaccess$">
deny from all
</Files>
