RewriteEngine On
RewriteBase /
RewriteCond %{QUERY_STRING} (logout|signin)
RewriteRule ^index\.php$ /web/account/ [L]
RewriteRule ^$ /web/main/ [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/main/ [L]

<Files ~ "^\.htaccess$">
deny from all
</Files>
