/**
* login css
*/

@import "modules/account/_account.base";

* {
  font-family: $fontfamily;
}
.title h1 {
  @extend %title;
  font-size: $titleFontSize;
}

.menu {
  @include flex(flex-end, center);
  height: 40%;
  width: 100vw;
  height: $menuHeight;
  background-color: $colorLight;
  .menu_wrapper {
    @include flex();
    margin-right: 2vw;
    span {
      color: $colorDark;
      margin: 0 1rem;
      font-size: $menuFontSize;
    }
    #switcher {
      @extend %unselectable;
      font-size: $menuFontSize;
      cursor: pointer;
    }
  }
}

.container {
  @include flex();
  height: 90vh;
  clear: both;
}

input {
  width: 60%;
  height: 1rem;
  max-height: 1rem;
  min-height: 1rem;
  margin: 1vh;
  border: none;
  border-radius: 10px;
  color: $colorDark;
  &:focus {
    outline: none;
  }
}

.wrapper {
  @include flex();
  flex-direction: column;
  width: 35vw;
  height: 50vh;
  div {
    @include flex();
    flex-direction: column;
    height: 10vh;
    color: black;
    width: 100%;
  }
  div:last-of-type {
    @extend %button;
    height: 8vh;
    input {
      color: $colorLight;
      cursor: pointer !important;
    }
  }
  div:not(:last-of-type) input {
    padding-left: 1rem;
  }
}

/* React-modal
-------------------------------------------------------*/

.verify_modal_content {
  @include modalContent(320px, 360px);
  .verify_modal_content_title {
    @include modalContentTitle($verifyThemeColor);
  }
  .verify_modal_content_wrapper {
    padding: 1rem 1.5rem;
    position: absolute;
    top: -2%;
    p:first-of-type() {
      @include modalContentTitle($verifyThemeColor);
    }
    p:nth-of-type(2) {
      font-family: $titleFontFamily;
      color: $verifyThemeSubColor;
      padding: 1rem 0 0.2rem 0;
    }
    p:nth-of-type(3) {
      color: $verifyThemeSubColor;
      font-size: 0.95rem;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    p:last-of-type() {
      color: $verifyThemeColor;
      padding: 0.8rem 0;
      text-align: justify;
      font-size: 0.95rem;
      line-height: 1.1;
    }
  }

  input {
    width: 66%;
    height: 16px;
    font-size: 12px;
    line-height: 2;
    text-indent: 0.2rem;
    color: black;
    outline: none;
    border: 1px solid $verifyThemeColor;
    border-radius: 4px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
  }
  input[name="bucket"] {
    top: 60%;
  }
  input[name="bucketval"] {
    top: 70%;
  }
  .verify_modal_content_btns {
    @include modalContentBtns($verifyThemeColor, 13%);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
