/**
* login css
*/

@import "modules/account/_account.base";

* {
  font-family: $fontfamily;
}
.title h1 {
  @extend %title;
  font-size: $titleFontSize;
}

.menu {
  @include flex(flex-end, center);
  height: 40%;
  width: 100vw;
  height: $menuHeight;
  background-color: $colorLight;
  .menu_wrapper {
    @include flex();
    margin-right: 2vw;
    span {
      color: $colorDark;
      margin: 0 1rem;
      font-size: $menuFontSize;
    }
    #switcher {
      @extend %unselectable;
      font-size: $menuFontSize;
      cursor: pointer;
    }
  }
}

.container {
  @include flex();
  height: 90vh;
  clear: both;
}

input {
  width: 60%;
  height: 1rem;
  max-height: 1rem;
  min-height: 1rem;
  margin: 1vh;
  border: none;
  border-radius: 10px;
  color: $colorDark;
  &:focus {
    outline: none;
  }
}

.wrapper {
  @include flex();
  flex-direction: column;
  width: 35vw;
  height: 50vh;
  div {
    @include flex();
    flex-direction: column;
    height: 10vh;
    color: black;
    width: 100%;
  }
  div:last-of-type {
    @extend %button;
    height: 8vh;
    input {
      color: $colorLight;
    }
  }
  div:not(:last-of-type) input {
    padding-left: 1rem;
  }
}

.modal {
  width: $modalWidth;
  background-color: $colorLight;
  border-radius: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  img {
    height: $closeIconSize;
    margin: 5px;
    cursor: pointer;
  }
  div {
    @include flex();
    flex-direction: column;
    color: black;
    width: 100%;
    span {
      color: $colorBlue;
      height: 3vh;
    }
  }
  > div:first-of-type {
    height: 1.5rem;
    justify-content: end;
    align-items: flex-end;
  }
  > div:last-of-type {
    @extend %button;
    margin: 2vh 0 4vh 0;
    input {
      color: $colorLight;
      background-color: $colorGreen;
    }
  }
  > div:not(:last-of-type) input {
    border: 1px solid SlateGray;
    padding-left: 1rem;
  }
  .modal_key,
  .modal_info {
    padding: 2%;
  }
  .modal_key {
    div {
      margin-top: 0.6rem;
    }
  }
  .modal_info {
    width: auto;
    div {
      align-items: start;
      ol {
        color: $colorGray;
        font-size: 0.8rem;
        line-height: 1rem;
        margin: 0.2rem 0;
      }
    }
  }
}
