/**
 * main css
 */

@import "modules/main/_main.base";

#title {
  @extend %title;
  @include flex(center, start);
  width: 30%;
  padding-bottom: 0.5rem;
  font-size: $titleFontWidth;
}

.wrapper {
  max-width: 100vw;
}

.header {
  height: $headerHeight;
  @include flex(flex-end, center);
}

.menu {
  width: 70%;
  @include flex(space-evenly, center);
  .menu_item {
    max-width: $menuIconWidth;
    cursor: pointer;
    img {
      max-width: 100%;
    }
  }
}

.container {
  @include flex(center, unset);
}

#column {
  display: flex;
  /* 幅可変拡張 */
  flex-basis: auto;
  position: relative;
  .level {
    float: left;
    width: $oneColumnWidth;
    max-width: $oneColumnWidth;
    padding-left: 1rem;
    .row {
      height: $rowHeight;
      display: flex;
      align-items: center;
      border-right: $columnsRightBorder;
      cursor: pointer;
      .open {
        max-width: $mkdirOpenWidth;
      }
      .close {
        max-width: $mkdirCloseWidth;
        display: none;
      }
      .row_item {
        word-break: break-all;
      }
      .textbox {
        width: 11vw;
        height: 40%;
      }
    }
  }
}

#display {
  display: flex;
  /* デフォルトが画面幅一杯、columnの幅が拡張する毎に幅可変縮小*/
  flex-basis: 100vw;
  overflow: scroll;
  position: relative;
}

#toggles {
  width: 100%;
}

#upload_area {
  @include flex();
  img {
    max-width: 50%;
  }
}

#preview {
  padding: 1rem;
  box-sizing: border-box;
  code {
    background-color: inherit;
    line-height: $codeLineHeight;
    span {
      font-family: $baseFontFamily;
    }
  }
}

#remove_area {
  @include flex();
  display: none;
  #remove_drop_area {
    display: none;
    height: 50vh;
    @include flex();
    border: $removeAreaBorder;
    border-radius: 4%;
    img {
      max-width: 40%;
    }
  }
}

/* React-modal
-------------------------------------------------------*/
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  @include flex();
}
.mkdir_modal_content {
  @include modalContent(160px, 360px);
  background-color: white;
  position: relative;
  transform: translate(0, -80px);
  .mkdir_modal_content_title {
    font-family: $titleFontFamily;
    color: #455c8c;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 1rem;
  }
  .mkdir_modal_content_workdir {
    color: black;
    padding-top: 0.8rem;
    text-align: center;
  }
  input {
    width: 66%;
    height: 18px;
    font-size: 16px;
    line-height: 2;
    text-indent: 0.2rem;
    color: black;
    outline: none;
    border: 1px solid #455c8c;
    border-radius: 4px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .mkdir_modal_content_btns {
    width: 100%;
    height: 25%;
    background-color: #455c8c;
    position: absolute;
    bottom: 0;
    div {
      &:first-of-type {
        border-right: 1px solid;
      }
      font-family: $titleFontFamily;
      display: inline-block;
      height: 100%;
      box-sizing: border-box;
      width: 50%;
      font-size: 1.2rem;
      line-height: 2.2;
      text-align: center;
      cursor: pointer;
      border-radius: 0 0 4px 4px;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 0.85;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
